---
layout: default
title: Projects
---
<div class="blurb">
	<h1>{{ page.title }}</h1>
	<p> A collection of unpublished research papers and personal projects, including papers from my Master's degree.
		For my formally published papers and reports, please consult the <a href="/publications">publications section</a> of this website.</p>
</div>
<div class="projects">
		{% assign pro-sorted = site.projects | sort: 'date' | reverse %}
		{% for project in pro-sorted %}
		<div class="project">
			<h2><a href="{{ project.url }}"> {{project.type}}: {{ project.title }}</a></h2>
			<p>{{project.description}}</p>
			<figure>
				{% for item in project.images %}
					{% if item.title == 'main' %}
					<img src="{{ site.url }}/assets/images/{{ item.image }}" class="project-img">
					{% endif %}
				{% endfor %}
			</figure>
			<ul class="project-tools">
				{% for tool in project.tools %}
				<li class="tool">{{tool}}</li>
				{% endfor %}
				{% for method in project.methods %}
				<li class="method">{{method}}</li>
				{% endfor %}
			</ul>
			<p class="newline"></p>
			<ul class="project-share">
				{% if project.report == 'True' %}
				<li><a href="{{project.gdocs-link}}edit?usp=sharing" title="Access the Google Doc"><i class="far fa-file-alt"></i></a></li>
				<li><a href="{{project.gdocs-link}}export?format=pdf" title="Download the PDF"><i class="far fa-file-pdf"></i></a></li>
				{% endif %}
				{% if project.code == 'True' %}
				<li><a href="https://github.com/JmeF/{{ project.github-link }}" title="Get the code on GitHub"><i class="fab fa-github"></i></a></li>
				{% endif %}
			</ul>
		</div>

		{% endfor %}

</div>
