<ul>
  <li><a href="mailto:me@jamiefawcett.org.uk?subject=I found your website and..." title="Email me"><i class="fas fa-envelope"></i></a></li>
  <li><a href="https://twitter.com/JamieFawcett1" title="Follow me on Twitter"><i class="fab fa-twitter"></i></a></li>
  <li><a href="https://www.linkedin.com/in/jamie-fawcett-737314a3/" title="Find me on LinkedIn"><i class="fab fa-linkedin-in"></i></a></li>
  <li><a href="https://github.com/JmeF"><i class="fab fa-github" title="Find me on GitHub"></i></a></li>
  <li><a href="https://scholar.google.com/citations?user=nDXweXQAAAAJ&hl=en"  title="See my publications on Google Scholar"><i class="fas fa-graduation-cap"></i></a></li>
  <li><a href="https://www.flickr.com/photos/129714065@N05/"  title="See my photos on Flickr"><i class="fab fa-flickr"></i></a></li>
</ul>
