
/* Layout
------------------------------------------------------------------- */

html{ height:100%; margin:0}
body {
  font-family: $body-font-family;
  font-size: $font-size-p;
  color: $text-colour;
  margin: 0;
  padding: 0;
  border: 0;
  min-height:100%;
  display:flex;
  flex-direction:column;

  a {
    text-decoration: none;
    color: $link-colour;
  }

  a:hover {
      text-decoration: underline;
  }
  img{
    width: 100%;
  }
}

/* Main layout
------------------------------------------------------------------- */
.content-bg{
  background: white
}
.container {
  div{
    margin: 40px auto;
    width: 70%;
    line-height: 1.4em;
  }

}

/* Homepage layout
------------------------------------------------------------------- */

.about {
  text-align: center;

  .subtitle{
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }
  }

.find-more{
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: flex;

  background: $color2;

  ul{
    padding: 0;
    list-style: none;

  }

  li{
    background: $licence-bg-color;
    border-radius: 15%;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    width:100px;
    display: inline-block;

    span{
      vertical-align: middle;
    }
  }
  a{
    color:$color-white;
  }
  a:hover{
    font-weight:$font-weight-bold;
    text-decoration: none;
  }
}





.work {
  display: block;
  text-align: center;
}
