/* Contact icons
------------------------------------------------------------------- */

/* Style brand awesome icons */
.fab {
  padding: 0.5em;
  font-size: 2em;
  text-align: center;
  text-decoration: none;
  color: white;
  /*border-radius: 50%;*/
}

.fab:hover {
 opacity: 0.7;
}

.fas {
  padding: 0.5em;
  font-size: 2em;
  text-align: center;
  text-decoration: none;
  color: white;
  /*border-radius: 50%;*/
}

.fas:hover {
 opacity: 0.7;
}


/* Set a specific color for each brand

.fa-twitter {
 background: #55ACEE;
 color: white;
}

.fa-linkedin-in {
 background: #4875B4;
 color: white;
}

.fa-github {
 background: white;
 color: black;
}

.fa-flickr {
 background: white;
 color: black;
}

.fa-envelope {
  background: white;
  color: black;
}

.fa-graduation-cap{
  background: white;
  color: black;
}
*/
