---
layout: default
title: Resume
---

<div class="blurb">
	<h1>{{ page.title }}</h1>
	<p>Data science, data governance and data policy expert, currently residing in Vancouver (BC). Canadian Permanent Resident.</p>
</div>
<div class="resume-section">
	<h2>Summary</h2>
		<div>
			<ul>
				<li>Over 6 years delivering complex technical implementation and research consulting projects.</li>
				<li>Strong analytical skills including in a variety of research, statistical and data science methods.</li>
				<li>Proven ability to effectively translate business requirements and communicate technical concepts.</li>
				<li>Demonstrated capacity to manage projects, client relationships and deliver meaningful outcomes.</li>
				<li>Proficient in a wide variety of software packages and scripting languages (including Python, R, SQL).</li>
			</ul>
	</div>
</div>

<div class="resume-section">
	<h2>Graduate education</h2>
		{% assign grad-ed-sorted = site.resume-education-grad | sort: 'date-start' | reverse %}
		{% for item in grad-ed-sorted %}
		<div class="record-head">
			<div class="left">
				<h3>{{ item.degree-title }}</h3>
				<p><em>{{ item.date-start | date: "%B %Y" }} -  {{ item.date-end | date: "%B %Y" }}</em></p>
			</div>
			<div class="right">
				<h3><a href="item.department-link">{{ item.university }}</a> (<em>{{ item.location }}</em>)</h3>
				<h3>{{item.grade}}</h3>
			</div>
		</div>
		<div class="record-content">
			{{ item.content }}
		</div>
	{% endfor %}
</div>

<div class="resume-section">
	<h2>Employment</h2>
		{% assign em-sorted = site.resume-employment | sort: 'date-start' | reverse %}
		{% for item in em-sorted %}
		<div class="record-head">
			<div class="left">
				<h3>{{ item.job-title }}</h3>
				<p><em>{{ item.date-start | date: "%B %Y" }} -  {{ item.date-end | date: "%B %Y" }}</em></p>
			</div>
			<div class="right">
				<h3><a href="{{item.company-link}}">{{ item.company }}</a></h3>
				<p>(<em>{{ item.location }}</em>)</p>
			</div>
		</div>
		<div class="record-content">
			{{ item.content }}
		</div>
	{% endfor %}
</div>

<div class="resume-section">
	<h2>Previous education</h2>
		{% assign ed-sorted = site.resume-education | sort: 'date-start' | reverse %}
		{% for item in ed-sorted %}
		<div class="record-head">
			<div class="left">
				<h3>{{ item.degree-title }}</h3>
				<p><em>{{ item.date-start | date: "%B %Y" }} -  {{ item.date-end | date: "%B %Y" }}</em></p>
			</div>
			<div class="right">
				<h3><a href="item.department-link">{{ item.university }}</a> (<em>{{ item.location }}</em>)</h3>
				<h3>{{item.grade}}</h3>
			</div>
		</div>
		<div class="record-content">
			{{ item.content }}
		</div>
	{% endfor %}
</div>

<div class="resume-section">
	<h2>Part-time employment</h2>
		{% assign pt-sorted = site.resume-part-time | sort: 'date-start' | reverse %}
		{% for item in pt-sorted %}
		<div class="record-head">
			<div class="left">
				<h3>{{ item.job-title }}</h3>
				<p><em>{{ item.date-start | date: "%B %Y" }} -  {{ item.date-end | date: "%B %Y" }}</em></p>
			</div>
			<div class="right">
				<h3><a href="{{item.company-link}}">{{ item.company }}</a></h3>
				<p>(<em>{{ item.location }}</em>)</p>
			</div>
		</div>
	{% endfor %}
</div>
