<!DOCTYPE html>
      <html>
        <head>
          <!-- Global site tag (gtag.js) - Google Analytics -->
          <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150666647-1"></script>
          <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-150666647-1');
          </script>
          <meta charset="utf-8">
          <title>{{ page.title }}</title>
          <!-- previous link to main stylesheet  <link rel="stylesheet" type="text/css" href="/css/main.css"> -->
          <link rel="stylesheet" type="text/css" href="{{ '/assets/css/main.css' | relative_url }}" />
          <script src="https://kit.fontawesome.com/e187d73add.js" crossorigin="anonymous"></script>
        </head>

        <body>
           <header>
               {% include navigation.html %}
           </header>
           <div class="content-bg">
             <div class="container">

                 {{ content }}

             </div><!-- /.container -->
           </div>
          <footer>
            <div class="contact-bar">
              {% include contact.html %}
            </div>
            <div class="licence-bar">
              {% include licence.html %}
            </div>
            <div class="ref-bar">
              {% include reference.html %}
            </div>
          </footer>
        </body>
      </html>
