<!DOCTYPE html>
      <html>
        <head>
          <meta charset="utf-8">
          <title>{{ page.title }}</title>
          <!-- previous link to main stylesheet  <link rel="stylesheet" type="text/css" href="/css/main.css"> -->
          <link rel="stylesheet" type="text/css" href="{{ '/assets/css/main.css' | relative_url }}" />
          <script src="https://kit.fontawesome.com/e187d73add.js" crossorigin="anonymous"></script>
        </head>

        <body>
           <header>
               {% include navigation.html %}
           </header>
           <div class="content-bg">
             <div class="container">

                 {{ content }}

             </div><!-- /.container -->
           </div>
          <footer>
            <div class="contact-bar">
              {% include contact.html %}
            </div>
            <div class="licence-bar">
              {% include licence.html %}
            </div>
            <div class="ref-bar">
              {% include reference.html %}
            </div>
          </footer>
        </body>
      </html>
